#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.homeHeader {
  display: flex;
  justify-content: left;
  width: 100%;
}

.formContent {
  display: flex;
}

.formGroup {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-right: 1em;
}

#keyword {
  width: 220px;
}

#releaseYear {
  height: 21.5px;
}

.searchButton {
  display: flex;
  align-items: end;
}

.movieListContents {
  max-width: calc(1280px - 4rem);
  width: calc(100vw - 4rem); /* rootのpadding分差し引き */
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}

.loading {
  justify-content: center;
}

.movieDetail {
  max-width: calc((1280px - 4rem - 8em) / 4);
  width: calc((100vw - 4rem - 8em) / 4); /* rootのpaddingとカードのmargin分差し引き */
  margin: 0.5em;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: start;
  font-size: 0.8em;
  background-color: #eaeaea;
  border-radius: 10px;
}

.movieImg {
  max-width: calc((1280px - 4rem - 8em) / 4);
  width: calc((100vw - 4rem - 8em) / 4); /* カードの長さに合わせる　*/
}

@media screen and (max-width: 960px) {
  .formContent {
    flex-direction: column;
  }

  .formGroup {
    margin-bottom: 1em;
  }

  .movieDetail h3 {
    font-size: 1.1em;
  }

  .movieDetail p {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 700px) {
  .formContent {
    flex-direction: column;
  }

  .formGroup {
    margin-bottom: 1em;
  }


  .movieDetail h3 {
    font-size: 0.7em;
  }

  .movieDetail p {
    font-size: 6px;
  }
}